:root {
  --main-color: rgb(33, 150, 243);
  --second-color: #212121;
  --third-color: #757575;
}

body {
  font-family: "Roboto", "Raleway", Arial, sans-serif;
  font-size: 14px;
  color: rgb(33, 33, 33);
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.logo-txt-blue {
  text-decoration: none;
  color: var(--main-color);
}

.link-header {
  text-decoration: none;
  color: rgb(33, 33, 33);
  display: flex;
  align-items: center;
}
.contact-link {
  color: #757575;
}

.link-header:hover,
.link-header:focus,
.link-footer:hover,
.link-footer:focus {
  color: var(--main-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
outline: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}

.header,
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-ul {
  justify-content: space-around;
  list-style: none;
  padding-left: 93px;
  position: relative;
}

.nav-icon {
  margin-right: 10px;
}

.contact,
.nav-ul {
  display: flex;
  margin: 0;
  list-style: none;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact > .contact-item:not(:last-child) {
  margin-right: 0;
}

.nav-ul > .nav-item:not(:last-child) {
  margin-right: 0px;
}

.nav-item {
  padding-right: 46px;
}

.nav-ul .nav-link {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.mail-a {
  padding-right: 30px;
  padding-left: 10px;
  fill: #757575;
}
.mail-a:hover,
.mail-a:focus,
.tel-a:hover,
.tel-a:focus {
  fill: var(--main-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
outline: none;
}

.tel-a {
  padding-right: 0;
  padding-left: 10px;
  fill: #757575;
}

/* animacje */

#active-nav::after {
  position: absolute;
  display: block;
  top: 47.5px;
  width: 58px;
  height: 4px;
  background-color: #2196f3;
  content: "";
  border-radius: 2px;
}

/* END HEADER -------------------------------------------------- */

.buttons-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.button-item {
  margin: 94px 8px 0;
}

.button {
  padding: 6px 22px;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 500;
}

.main-button {
  background-color: var(--main-color);
  padding: 10px 41.5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition-property: background-color, transform;
  transition-duration: 50ms;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
outline: none;
}

.banner {
  display: flex;
  align-items: center;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/goit-markup-hw-06/images/BannerBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.banner-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
}

.logo-txt {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-color);
  font-family: Raleway;
  list-style: none;
  text-decoration: none;
}

.link-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.portfolio-projects {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.portfolio-projects-ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-top: 34px;
  list-style: none;
}

.project {
  display: block;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  position: relative;
  overflow: hidden;
}

.portfolio-project-cover {
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;

  transform: translate(0, 77%);
  transition: transform 100ms linear;
}

.project:hover .portfolio-project-cover {
  transform: translate(0, 0);
}

.portfolio-project-cover p {
  color: #fff;
  padding: 49px 45px 49px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.project:hover,
.project:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
outline: none;
}

.project-img {
  display: block;
}
.project-txt {
  display: block;
  padding: 20px;
  background-color: white;
  position: relative;
}

.project-txt p {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.h-fifth {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.member > .h-fifth {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin: 30px 0 10px;
}

.member > p {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-color);
  margin: 0 0 30px;
}

.member-socials-list {
  list-style: none;
  padding: 0 0 30px;
  display: flex;
  justify-content: center;
}

/* ************************************************************************* */
.member-social-item {
  margin: 0 5px;
  display: flex;
}

.member-social-item:first-child {
  margin-left: 0;
}
.member-social-item:last-child {
  margin-right: 0;
}

.a-member-social-item {
  fill: #afb1b8;
  display: inline-flex;
  background: white;
  text-decoration: none;
  border-radius: 50%;
}

.a-member-social-item:hover,
.a-member-social-item:focus {
  fill: white;
  background: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
outline: none;
}

/* ************************************************************************* */
.h-first {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 0;
}

.h-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  color: var(--second-color);
  margin: 0;
}

.h-fourth {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  padding-top: 30px;
  margin-top: 0;
}

.descriptions {
  padding-bottom: 0;
}

.description-icon {
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.descriptions > ul > li > p {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.descriptions ul {
  display: flex;
  justify-content: center;
}

.description-item {
  padding: 0 15px;
}

.description-items {
  padding-left: 0;
  list-style: none;
}

.specialities-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.description-item:last-child,
.specialities-item:last-child,
.member:last-child,
.client:last-child {
  padding-right: 0;
  margin-right: 0;
}
.description-item:first-child,
.specialities-item:first-child,
.member:first-child,
.client:first-child {
  padding-left: 0;
  margin-left: 0;
}

.specialities-label {
  position: absolute;
  color: white;
  text-transform: uppercase;
  top: 75.5%;
  height: 23.5%;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* zespół */

.team {
  background-color: #f5f4fa;
}

.team-members-list {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  list-style: none;
}

.member {
  background-color: white;
  margin: 0 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

/* CLIENTS SECTION */

.clients-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.client-icon {
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  padding: 16px 32px;
}

.client-icon:hover,
.client-icon:focus {
  border-color: #2196f3;
  fill: #2196f3;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
outline: none;
}

/* FOOTER **************************************************************************************************** */

.address {
  font-style: normal;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  color: white;
}

.footer-items {
  display: flex;
  align-items: baseline;
}

.address-footer {
  padding-right: 70px;
}

.logo-txt-footer {
  margin-bottom: 20px;
  color: white;
  padding: 0;
}

.address p {
  padding: 20px 0 9px;
  margin: 0;
  /* display: inline-block; */
}

.link-footer {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  line-height: 2;
  letter-spacing: 0.03em;
}

.socials p,
.newsletter p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.socials-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-item {
  margin: 0 5px;
}

.social-item:first-child {
  margin-left: 0;
}
.social-item:last-child {
  margin-right: 0;
}

.a-social-item {
  display: inline-flex;
  text-decoration: none;
  fill: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.a-social-item:hover,
.a-social-item:focus {
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
outline: none;
}

.newsletter {
  padding-left: 78px;
}
.newsletter-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 14px 88.333px 14px 15px;
}

.newsletter-svg {
  padding-left: 24px;
  display: flex;
}

.newsleter-button {
  margin-left: 12px;
  background-color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  padding: 10px 24px 10px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  fill: white;
}

.newsleter-button:hover,
.newsleter-button:focus {
  cursor: pointer;
  background-color: white;
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--main-color);
outline: none;
}

.newsleter-button:active {
  background-color: var(--main-color);
  color: white;
  fill: white;
}

/* END FOOTER  */

.project-img,
.project-txt h5,
.project-txt p {
  margin: 0;
}

/* MODAL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  transition: opacity 750ms, visibility 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    padding: 40px;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: absolute;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
outline: none;
fill: var(--main-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 750ms, visibility 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  margin-top: 4px;
padding: 11px 0;
padding-left: 42px;
width: 100%;
outline: none;
}

input:focus + svg {
fill: var(--main-color);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
border-color: var(--main-color);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-container{

} */

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  margin-top: 0;
}

.form-item:nth-child(4){
  position: relative;
  top: -9px;
}
.form-item:nth-child(5){
  position: relative;
  top: -19px;
}
.form-item:nth-child(6){
  position: relative;
  bottom: 0;
}

.modal-svg {
  position: relative;
  top: -29px;
  left: 12px;
  fill: rgba(33, 33, 33, 1);
;
}

.form-textarea{
  width: 100%;
  padding-left: 16px;
  resize: none;
}

.checkbox{
outline: none;

display: flex;
justify-content: center;
align-items: center;
}

.checkbox-div{
  width: 16px;
  height: 15px;
  position: relative;
  border: 2px solid var(--second-color); 
  border-radius: 2px;
  margin-right: 8px;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input{
   position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 16px;
  appearance: none;
  cursor: pointer;
}

.checkbox-svg{
  z-index: 102;
  border-radius: 2px;
  width: 17px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
  position: absolute;
  opacity: 0;
  transition: opacity 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text{
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.checkbox-input:checked + .checkbox-svg {
  opacity: 1;
  background-color: var(--main-color);
}
.checkbox-div:hover {
  border-color: var(--main-color);
}

.checkbox-a{
  color: var(--main-color);
}
.checkbox-a:visited{
  color: rgb(28, 78, 119);
}

.form-button-container{
  display: flex;
  align-items: center;
}

.form-button {
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 76px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.form-button:hover,
.form-button:focus {
  cursor: pointer;
  background-color: white;
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

outline: none;}

.modal-item-text{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: #757575;
}