

body {
    font-family: "Roboto", "Raleway", Arial, sans-serif;
    font-size: 14px;
    color: rgb(33, 33, 33);
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}